<form name="myForm"  enctype="multipart/form-data">
  <div class="control-group" ng-class="{error: myForm.name.$invalid}">
    <label>Название</label>
    <input type="text" name="name" ng-model="Library.name" required>
    <span ng-show="myForm.name.$error.required" class="help-inline">    Required</span>
  </div>

  <div class="control-group" ng-class="{error: myForm.autor.$invalid}">
    <label>Автор</label>
    <input type="text" name="autor" ng-model="Library.autor" required>
    <span ng-show="myForm.autor.$error.required" class="help-inline">      Required</span>
  </div>

  <label>Описание</label>
  <textarea name="description" ng-model="Library.description"></textarea>
<br>
  <label>Обложка</label>
 <div style="position:relative;">
     <img id="imgInp" ng-src="{{ Library.file }}" alt="" style="width: 50px">
		<a class='btn btn-primary' href='javascript:;'>	Choose File...
			<input id="idForm" ng-init="readURL(this)" type="file" ng-value="{{ Library.file }}" name="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' size="40"  onchange='$("#upload-file-info").html($(this).val());readURL(this);'>
		</a>	&nbsp;
		<span class='label label-info' id="upload-file-info">{{ Library.file }}</span>
 </div>

<br>
  <br>
  <a href="#/" class="btn">Cancel</a>
  <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"      class="btn btn-primary">Save</button>
  <button ng-click="destroy()"   ng-show="Library.id" class="btn btn-danger">Delete</button>

</form>
