<h2>Библиотека</h2>
<input type="text" ng-model="search" class="search-query" placeholder="Искать" style="margin-left: 20px;">

<div  ng-switch on="lock" style="height: 15px;margin-top: 10px;margin-left: 20px;">

    <div ng-switch-when="false"  style="position: absolute;margin-left: 273px;"><div style="position: absolute;margin-left: -269px;">Создать новую</div><a href="#/new"><i class="icon-plus-sign"></i></a></div>
</div>

<br>
<div class="blockInfoBookPrev" ng-repeat="Librarys in Library | filter:search | orderBy:'name'" style="position: relative;height: 160px;margin-left: 20px;">
    <div class="block_image_left" ng-switch on="lock">
        <a ng-switch-when="true"><img ng-src="{{Librarys.file}}" style="width: 105px;height: 155px; background: gray"></a>
        <a ng-switch-when="false" href="#/edit/{{Librarys.id}}"><img ng-src="{{Librarys.file}}" style="width: 105px;height: 155px; background: gray"></a>
    </div>
    <div class="book_info_prev" style="margin-top: -160px;margin-left: 118px;">Название: <div class="book_info_prev_title">{{Librarys.name}}</div>
    <div class="block_book_prev_category"> <div class="book_info_prev_category">Автор:</div>{{Librarys.autor}}</div>
    <div class="block_book_prev_category" style="margin-top: -80px;margin-left: 150px;width: 600px;"> <div class="book_info_prev_category">Описание:</div>{{Librarys.description}}</div>
    </div>
</div>

<div class="footer" ng-switch on="lock" style="display: table-row; vertical-align: bottom; position: relative; height: 144px;">
    <a ng-switch-when="false" href="/logout" style="margin-left: 20px;">logout</a>
    <a ng-switch-when="true" href="/login" style="margin-left: 20px;">login</a>
</div>

