<!doctype html>
<html ng-app="Project">
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
    <title>library</title>
  </head>
  <body>
    <div ng-view></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
    <script src="/static/project.js"></script>
  </body>
<script>
    var upload_url = "{{ upload_url }}";
    var ID = "{{ ID }}";
</script>


</html>
