<!doctype html>
<html ng-app="Project">
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
    <title>Login</title>
</head>
<body>
<div id="container">
    <div class="authorization">
        <div class="login_and_registration2">
            <div class="reg_box_content" style="margin-top: 60px;margin-left: 100px;">
                <ul>
                    <li class="provider-btn reg_btn2">
                        <a href="{{ providers[0] }}" class="btn">
                            <span>{{ providers[1] }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>






